%arial{
    font-family: 'ArialRegular', serif;
    font-weight: 400;
}
%georgia{
    font-family: 'Georgia Regular', serif;
    font-weight: 400;
}
%times{
    font-family: 'TimesNewRoman', serif;
    font-weight: 400;
}