@import "vars";
@import "libs";
@import "fonts";

@import "vars";
@import "libs";
@import "fonts";
* {
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
ul,
li,
p,
h1,
h2,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(30, 32, 37, 0.88);
  // background-color: rgba(30, 32, 37, 0.88);
}
.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-big {
  max-width: 1920px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
.slick-prev{
  display: none !important;
}
.slick-next{
  display: none !important;
}

// ----------------- header start

.header {
  background-color: rgba(30, 32, 37, 0.88);
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 31px 0;
}
.header__logo{
  position: absolute;
  left: 43%;
  top: 15px;
}
.header__right {
  display: flex;
}

.header__right-phone {
  margin-right: 100px;
  & a {
    font-size: 20px;
    line-height: 23px;
    color: #d1cdcd;
    padding-right: 23px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/arrow-down.svg");
      width: 12px;
      height: 6.3px;
      top: 7px;
      right: 0;
    }
  }
}
.header__right-acount {
  & a + a {
    margin-left: 49px;
  }
}

// ----------------- header end

.video {
  padding: 286px 0 433px;
  background-image: url("../images/video.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}
.video__wrapper-img {
  & img {
    max-width: 100%;
  }
}
.video__wrapper-text {
  max-width: 1200px;
  font-size: 25px;
  font-family: "RobotoRegular";
  line-height: 29px;
  margin-top: 97px;
}

// ------------------- slider start

.main__slider {
  background-image: url("../images/slider-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 100%;
}
.main__slider-wrapper {
  display: flex;
}
.slider {
}
.slider__item {
  margin-left: 130px;
}

.slider__item-title {
  font-size: 55px;
  font-family: "TimesNewRomanRegular";
  line-height: 65px;
  display: inline-block;
}
.slider__item-text {
  font-size: 25px;
  font-family: "RobotoRegular";
  line-height: 29px;
  margin-top: 75px;
  max-width: 560px;
}

.slick-track {
  padding: 193px 0 349px 0;
}
.slick-dots {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 44%;
  padding: 12px 19px 9px 19px;
  background-color: rgba(30, 32, 37, 0.88);
  border-radius: 8px 8px 0px 0px;
  outline: none;

  & li {
    display: inline-block;
    line-height: 0;
    & + li {
      margin-left: 13px;
    }
    & button {
      width: 25.18px;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.33);
      border-radius: 6px;
      font-size: 0;
      outline: none;
      border: none;
    }
  }
  .slick-active button {
    background-color: #cea851;
    border-radius: 6px;
    outline: none;
  }
}

// -----------------------------------------

.categories {
  padding: 133px 0 50px;
}

.categories__wrapper-title,
.deal__title {
  font-family: TimesNewRomanRegular;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #cea851;
  
  &::before,
  ::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 15%;
    height: 1px;
    background: #fff;
    top: -11px;
    left: -30px;
  }
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 15%;
    height: 1px;
    background: #fff;
    top: -11px;
    right: -30px;
  }

}

.categories__inner {
  display: flex;
  flex-direction: column;
  margin-top: 69px;
}
.categories__inner-item {
  background: url("../images/item-1.jpg") no-repeat center center/cover;
  width: 100%;
  max-width: 535px;
  height: 237px;
  border-radius: 10px;
 
  & a {
    font-family: TimesNewRomanRegular;
    font-size: 48px;
    letter-spacing: 0.04em;
    color: #ffffff;
    // padding: 63px 204px 78px 201px;

    width:100%;
    height:100%;
     display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  }
}
.categories__inner .flex-row .categories__inner-item:nth-child(2){
  background: url("../images/item-2.jpg") no-repeat center center/cover;
}
.categories__inner .flex-row:nth-child(2) .categories__inner-item:nth-child(1){
  background: url("../images/item-3.jpg") no-repeat center center/cover;
}
.categories__inner .flex-row:nth-child(2) .categories__inner-item:nth-child(2){
  background: url("../images/item-4.jpg") no-repeat center center/cover;
}
.categories__inner .flex-row:nth-child(3) .categories__inner-item:nth-child(1){
  background: url("../images/item-5.jpg") no-repeat center center/cover;
}
.categories__inner .flex-row:nth-child(3) .categories__inner-item:nth-child(2){
  background: url("../images/item-6.jpg") no-repeat center center/cover;
}

.flex-row{
  display:flex;
  margin-bottom: 49px;
  justify-content: center;
  
  &:nth-child(even){
    margin-left: 10%;
  }
  &:nth-child(odd){
    margin-left: 5%;
  }

}

// .categories__wrapper .categories__inner-item:nth-child(even) {
//   margin-left: 73px;
// }
// .categories__wrapper .categories__inner-item:nth-child(3) {
//   margin-left: 137px;
// }
// .categories__wrapper .categories__inner-item:nth-child(5) {
//   margin-left: 0;
// }

// .categories__wrapper .categories__inner-item:nth-child(3),
// .categories__wrapper .categories__inner-item:nth-child(4),
// .categories__wrapper .categories__inner-item:nth-child(5),
// .categories__wrapper .categories__inner-item:nth-child(6) {
//   margin-top: 65px;
// }
// .categories__wrapper .categories__inner-item:nth-child(2) a {
//   background-image: url("../images/item-2.jpg");
//   border-radius: 10px;
//   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
// }
// .categories__wrapper .categories__inner-item:nth-child(3) a {
//   background-image: url("../images/item-3.jpg");
//   background-size: cover;
//   border-radius: 10px;
//   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
//   max-width: 525px;
// }
// .categories__wrapper .categories__inner-item:nth-child(4) a {
//   background-image: url("../images/item-4.jpg");
//   border-radius: 10px;
//   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
//   max-width: 525px;
// }
// .categories__wrapper .categories__inner-item:nth-child(5) a {
//   background-image: url("../images/item-5.jpg");
//   background-size: cover;
//   border-radius: 10px;
//   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
//   max-width: 505px;
// }
// .categories__wrapper .categories__inner-item:nth-child(6) a {
//   background-image: url("../images/item-6.jpg");
//   background-size: cover;
//   border-radius: 10px;
//   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
//   max-width: 505px;
// }

// ------------------------------------------

.deal {
  padding: 50px 0;
  & .slick-track{
    padding: 20px -0px;
  }
}

// .deal__title {
//   &::before {
//     top: 27px;
//     left: 85px;
//   }
//   &::after {
//     top: 27px;
//     right: 85px;
//   }
// }

.deal__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 63px 0 57px;
  flex-wrap: wrap;
}


.deal__wrapper-inner {
  display: flex;
  padding: 66px 0 63px 0;
  justify-content: space-between;
}
.deal__wrapper-item {
  max-width: 90%;
  border: 1px solid #cea851;
  border-radius: 5px;
  padding: 8px 16px 13px 15px;
  outline: none;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  & + .deal__slider-item {
    margin-left: 52px;
  }
}
.deal__wrapper-item--img {
  & img {
    max-width: 100%;
    width: 100%;
  }
}
.deal__wrapper-item--title {
  font-size: 24px;
  margin-top: 5px;
  font-family: TimesNewRomanRegular;
}
.deal__wrapper-item--suptitle {
  font-size: 22px;
  margin-top: 9px;
  font-family: TimesNewRomanRegular;
  color: #cea851;
}
.deal__wrapper-item--weight {
  font-size: 14px;
  font-family: "Roboto";
  margin-top: 31px;
  font-weight: 300;
  & span {
    font-size: 16px;
    color: #cea851;
  }
}
.deal__wrapper-item--ingredients {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 16px;
}
.deal__wrapper-item--bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: flex-end;
}
.bottom__price {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #cea851;
  & span {
    font-size: 18px;
    font-weight: 500;
  }
}
.bottom__counter {
  border: 0.5px solid #cea851;
  border-radius: 5px;
  display: flex;
  & span {
    padding: 3px 10px;
    background-color: #cea851;
    border-radius: 5px;
  }
  .plus {
    padding: 3px 8px;
  }
  & input {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: rgba(196, 196, 196, 0.12);
    font-family: "Roboto";
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
}

.bottom__btn {
  display: flex;
  & a {
    padding: 11px 11px 5px 10px;
    background-color: #cea851;
    border-radius: 5px;
    display: inline-block;
  }
}

.deal__menu-btn {
  text-align: center;
  & a {
    display: inline-block;
    padding: 12px 24px 12px 21px;
    background-color: #cea851;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
  }
}

// -----------------------------------
.aboutUs {
  padding: 50px 0;
  display: none;
}
.aboutUs__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}

.aboutUs__wrapper-title {
  font-family: TimesNewRomanRegular;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #cea851;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 151px;
    height: 1px;
    background: #fff;
    bottom: 0px;
    right: 39%;
  }
}
.aboutUs__wrapper-image {
  margin-left: 15px;
  position: relative;
  width: 20%;
  & img {
    max-width: 100%;
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/stripes.svg);
    height: 114px;
    width: 114px;
    top: 40px;
    left: -29px;
    z-index: -1;
  }
}
.aboutUs__wrapper-content {
  width: 80%;
  margin-left: 15px;
}
.aboutUs__wrapper-content--text {
  font-size: 25px;
  font-family: "RobotoRegular";
  line-height: 29px;
  max-width: 560px;
}

// -------------------------------
.map {
  padding: 13px 0 25px;
  display: none;
}
.map__wrapper {
  text-align: center;
}

.map__wrapper-title {
  font-family: TimesNewRomanRegular;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #cea851;
  
  &::before,
  ::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 15%;
    height: 1px;
    background: #fff;
    top: -11px;
    left: -30px;
  }
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 15%;
    height: 1px;
    background: #fff;
    top: -11px;
    right: -30px;
  }
}
.map__wrapper-suptitle {
  font-family: RobotoRegular;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 13px;
  color: #fff;
  & span {
    margin-top: 7px;
  }
}

.map__wrapper-main {
  & iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.map__wrapper-main {
  max-width: 80%;
  height: 267px;
  margin: 0 auto;
  margin-top: 20px;
}

// -----------------------------------
.about {
  padding: 50px 0 185px;
}
.about__wrapper {
  display: flex;
}
.about__wrapper-image {
  width: 60%;
  position: relative;
  & img {
    position: absolute;
    left: -340px;
    top: -80px;
  }
}

.about__wrapper-content {
  width: 40%;
  max-width: 550px;
}

.about__wrapper-content--title {
  font-family: TimesNewRomanRegular;
  font-size: 45px;
  line-height: 52px;
  color: #cea851;
  & p {
    font-family: RobotoRegular;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 26px;
    color: #fff;
    & span {
      color: #cea851;
    }
  }
}

.delivery__title {
  font-family: TimesNewRomanRegular;
  font-size: 22px;
  line-height: 25px;
  margin-top: 25px;
  font-weight: 700;
  color: #cea851;
  padding: 15px 0 0 60px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/Delivery.svg");
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
  }
}
.delivery__text {
  & p {
    font-family: RobotoRegular;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 17px;
    color: #fff;

    & span {
      color: #cea851;
    }
  }
}

.payment__title {
  font-family: TimesNewRomanRegular;
  font-size: 22px;
  line-height: 25px;
  margin-top: 25px;
  font-weight: 700;
  color: #cea851;
  padding: 15px 0 0 60px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/Payment.svg");
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
  }
}
.payment__text {
  & p {
    font-family: RobotoRegular;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-top: 17px;
    color: #fff;

    & span {
      color: #cea851;
    }
  }
}

.about__wrapper-content .about__wrapper-content--delivery p:nth-child(2) {
  margin-top: 12px;
}

.about__wrapper-content .about__wrapper-content--payment p:nth-child(2) {
  margin-top: 12px;
}

// ------------------------------------------------

.aside {
  max-width: 355px;
  background-color: #1e2025;
  border-top: 1px solid #cea851;
  border-radius: 0 0 8px 8px;
  position: fixed;
  top: 103px;
  right: 0;
  width: 100%;
  display:none;
}

.aside__wrapper {
  padding: 1px 0 178px;
}

.aside__wrapper-conter{
    font-size: 20px;
    line-height: 23px;
    color: #CEA851;
    
    position: relative;
  //   &::after {
  //     position: absolute;
  //     content: "";
  //     background-image: url("../images/cart-b.svg");
  //     width: 12px;
  //     height: 20px;
  //     top: 7px;
  //     right: 0;
  //   }
  // }
}

.aside__wrapper-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cea851;
  padding: 13px 15px 19px;
}

.aside__wrapper-item--img {
  display: flex;
  flex-direction: column;

  & img {
  }

  & span {
    font-size: 19px;
    font-family: TimesNewRomanRegular;
  }
}
.aside__wrapper-item--price {
  font-family: RobotoRegular;
  font-size: 20px;
  color: #cea851;
  font-weight: 700;
  & span {
    font-size: 12px;
    color: #fff;
    margin-left: 6px;
  }
}

.aside__wrapper-item--counter {
  border: 0.5px solid #cea851;
  border-radius: 5px;
  display: flex;
  & span {
    padding: 3px 10px;
    background-color: #cea851;
    border-radius: 5px;
  }
  .plus {
    padding: 3px 8px;
  }
  & input {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: rgba(196, 196, 196, 0.12);
    font-family: "Roboto";
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
}
.aside__wrapper-item--cancel {
  & a {
    display: inline-block;
    padding: 5px 8px 4px 8px;
    background-color: #d45151;
    border-radius: 5px;
    // position: relative;
    // &::before{
    // 	content: '';
    // 	position: absolute;
    // 	background-image: url('../images/cancel.svg');
    // 	width: 17px;
    // 	height: 17px;
    // 	top: 0;
    // 	left: 0;
    // }
    & img {
      width: 17px;
      height: 17px;
    }
  }
}

.aside__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15px;
}

.total {
  font-family: "RobotoRegular";
  font-size: 13px;
  & span {
    font-size: 13px;
    color: #cea851;
    margin-left: 3px;
    font-weight: 700;
  }
}
.aside__bottom .total span:nth-child(2) {
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
}

.aside__bottom-btn {
  & a {
    display: inline-block;
    font-family: "RobotoRegular";
    font-size: 15px;
    color: #000;
    line-height: 18px;
    padding: 9px 5px 8px;
    background-color: #cea851;
    border-radius: 5px;
  }
}

::-webkit-scrollbar {
  height: 100%;
  width: 3px;
  background: rgba(196, 196, 196, 0.3);
}

::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  width: 3px;
  height: 10px;
  background: #cea851;
  border-radius: 3px;
}
.display-none{
  display: none;
}

// ----------------------------------------------

.footer__btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  display: none;
}
.footer__btn-call {
    & a{


    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.07);
    position: relative;
    margin-left: 22px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/call.svg);
      background-repeat: no-repeat;
      top: 11px;
      right: 1px;
      width: 23px;
      height: 23px;
    }
  }
}
.footer__btn-up {
    & a{


    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.07);
    position: relative;
    margin-right: 22px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/up.svg);
      background-repeat: no-repeat;
      top: 11px;
      right: 2px;
      width: 23px;
      height: 23px;
    }
  }
}
.footer {
  background-color: #1e2025;
  padding: 28px 0 20px 0;
}

.footer__wrapper {
}

.footer__wrapper-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper-main--nav {
  & ul {
    display: flex;
    & li {
      & + li {
        margin-left: 26px;
      }
      & a {
        display: inline-block;
        font-family: Roboto;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
      }
    }
  }
}

.footer__wrapper-main--social {
  & ul {
    display: flex;
    & li {
      & + li {
        margin-left: 20px;
      }
      & a {
        display: inline-block;

        & img {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

.footer__wrapper-bottom {
  margin-top: 53px;
  & ul {
    display: flex;
    justify-content: center;
    & li {
      & + li {
        margin-left: 83px;
      }
      & a {
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;

        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@import "media";
