$grey: #858585;
$white: #fff;
$black: #000;
$orange: #ff5b00;
$purple: #694a84;
$bgc: #f6f6f6;
$darkgrey: #212121;
$text: #636363;
$circle: #ebebeb;
$icons: #2b2b2b;
$greybg: #f6f6f6;

$sans: 'Open Sans', sans-serif;
$myriad: 'MyriadProRegular';
$ico: 'icomoon';